/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Lexend Deca";
  font-display: swap;
  src: local("Lexend Deca Regular"), url("../../fonts/LexendDeca-VariableFont_wght.ttf") format("ttf");
  font-size: 100 900;
}
@font-face {
  font-family: "Big Shoulders Display";
  font-display: swap;
  src: local("Big Shoulders Display Thin"), url("../../fonts/BigShouldersDisplay-VariableFont_wght.ttf") format("ttf");
  font-size: 100 900;
}
body,
button {
  font-family: "Lexend Deca";
  font-weight: 400;
}

.title {
  font-family: "Big Shoulders Display";
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.info {
  line-height: min(3.5ch, 150%);
}

html {
  font-size: 15px;
}

body {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100dvh;
  height: 100%;
  margin: 1rem 0;
  background-color: hsla(0, 0%, 100%, 0.75);
}
@media only screen and (width > 40rem) {
  body {
    margin: 0;
  }
}

.card {
  width: min(330px, 95%);
  height: min(1330px, 100%);
  display: grid;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media only screen and (width > 40rem) {
  .card {
    width: min(920px, 95%);
    height: min(500px, 95%);
    grid-auto-flow: column;
  }
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
}
.section-1 {
  background-color: hsl(31, 77%, 52%);
}
.section .more-1 {
  color: hsl(31, 77%, 52%);
}
.section .more-1:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}
.section-2 {
  background-color: hsl(184, 100%, 22%);
}
.section .more-2 {
  color: hsl(184, 100%, 22%);
}
.section .more-2:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}
.section-3 {
  background-color: hsl(179, 100%, 13%);
}
.section .more-3 {
  color: hsl(179, 100%, 13%);
}
.section .more-3:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}
.section > * {
  flex-grow: 1;
  margin: 0.375rem;
}

.car-container,
.more-container {
  display: grid;
  align-items: center;
}

.car {
  width: min-content;
}

.title {
  color: hsl(0, 0%, 95%);
}

.info {
  color: hsla(0, 0%, 100%, 0.75);
}

.more {
  cursor: pointer;
  width: max-content;
  padding: 0.675rem 1.75rem;
  background-color: hsl(0, 0%, 95%);
  border: 0.1333333333rem solid hsl(0, 0%, 95%);
  border-radius: 5rem;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.attribution {
  position: absolute;
  bottom: -1rem;
  height: min-content;
}
@media only screen and (width > 40rem) {
  .attribution {
    bottom: 0;
    transform: translateY(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
